.job-detail {
  margin: 5%;

  .job-detail-content-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;

    .job-desc {
      width: 55%;
    }

    .job-other-info {
      width: 35%;

      .job-apply {
        background-color: rgb(206, 238, 206);
        padding: 5% 5%;
        border-radius: 5px;
        margin: 5% 0%;

        p {
          margin: 0;
        }
      }
      .company-identity {
        background-color: lightgray;
        padding: 2% 5%;
        border-radius: 5px;
        margin: 5% 0%;

        a,
        a:hover {
          color: black;
          text-decoration: none;
        }
        img {
          margin: 5% 0%;
          width: 100%;
        }
      }
    }
  }
}
